<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="<%=posts_index_path%>">Home</a>
  <a class="navbar-nav mr-auto" href="<%=posts_dashboard_path%>">New Post</a>
</nav>