<h1>Form to create articles</h1>
<form action="/posts/create" id="create_posts">
    <div class="form-group">
        <label for="exampleInpuTitle">Title</label>
        <input name="title" type="text" class="form-control" id="exampleInputTitle" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputLink">Link to Image</label>
        <input name="image_url" type="url" class="form-control" id="exampleInputLink">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
</form>
